* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    font-family: "Roboto", sans-serif;

}

body {
    background-color: #8A51FC;

}

.img-logo {

    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 375px;
    height: 735px;
    border-radius: 8px;
    background: #F4F4F4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    padding: 44px 24px 24px 24px;
    



}

label {
    color: #555;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border-radius: 4px;
    background: #FFF;
}

select {


    width: 100%;
    height: 48px;
    color: #555;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
    appearance: none;
    border-radius: 4px;
    padding-left: 12px;


}

input {
    width: 327px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    color: #555;
    font-size: 16px;
    font-weight: 700;
    padding-left: 12px;
}

button {

    width: 327px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #772FD3;
    margin-top: 23px;
    margin-bottom: 36px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 12px;

}


.vector-img {
    margin: 15px 0;
}

.currency {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dolar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.valor {
    color: #555;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;


}

.text-valor {

    color: #777;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
   
}